@import "simple-datatables/dist/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #a0aec0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #a0aec0;
}

.dt-empty {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}

.grid-container {
    flex: 1;
    min-height: 0;
}

#order-container {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
}

#order-items {
    flex: 1;
    overflow-y: auto;
}

/* Style the search input and entries selector */
.datatable-input,
.datatable-selector {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm;
}

.datatable-dropdown label {
    @apply flex text-[0px];
}

.datatable-dropdown select {
    width: 80px;
}

/* Style the container for search and selector */
.datatable-top {
    @apply mb-4 flex justify-between items-end;
}

.datatable-top .datatable-search {
    @apply flex ml-auto flex justify-end items-center;
}

.datatable-bottom .datatable-pagination {
    @apply flex ml-auto flex justify-end items-center;
}

/* Style the table headers */
.datatable-table th {
    @apply font-semibold text-left p-4 bg-gray-50;
}

.datatable-sorter {
    @apply hover:bg-gray-100 cursor-pointer;
}

/* Style the pagination buttons */
.datatable-pagination a {
    @apply inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50;
}

/* Style the active pagination button */
.datatable-pagination .datatable-active a {
    @apply bg-indigo-50 border-indigo-500 text-indigo-600;
}

/* Style the pagination container */
.datatable-bottom {
    @apply mt-4 flex justify-between items-center;
}
